<section id="contact" class="main">
    <div class="content">
        <header class="header-message">
            <h3>contato // envie sua mensagem.</h3>
        </header>
        <div class="box">
            <form method="post" name="contact" netlify>
                <input type="text" name="name" placeholder="Nome" required/>
                <input type="email" name="email" placeholder="Email" required/>
                <textarea name="message" placeholder="Mensagem" rows="5" cols="30" required></textarea>
                <input class="send" type="submit" value="Enviar" />
            </form>
        </div>
    </div>
</section>
