<section id="contact" class="main">
    <div class="content">
        <header class="header-message">
            <h3>contato // Envie sua mensagem.</h3>
        </header>
        <div class="box">
            <form method="post" action="/success" name="contact" netlify>
                <input type="text" name="name" placeholder="Nome" />
                <input type="email" name="email" placeholder="Email" />
                <textarea name="message" placeholder="Mensagem" rows="5" cols="30"></textarea>
                <input class="send" type="submit" value="Enviar" />
            </form>
        </div>
    </div>
</section>