{{ define "main" }}
  <div class="content-post">
    <h1 class="title-post">{{ .Title }}</h1>
    <div class="flex justify-between grey-3">
      <p class="date-post">{{ .Date.Format "2 Jan 2006" }}</p>
    </div>
    <div class="cms mw6">
      <p class="description-post">{{ .Description }}</p>
      {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
      {{ .Content }}
    </div>
    <div class="article-container">
      {{ partial "comments.html" . }}
    </div>
  </div>
{{ end }}
